<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Versions</title>
  </head>
  <body>
    <h1>バージョン一覧</h1>
    <ul>
      {% for v in versions %}
        <li>
          ID: {{v.id}} |
          <a href="{{ url_for('show_version', version_id=v.id) }}">{{ v.versionName }}</a> 
          ({{ v.createdAt }})
        </li>
      {% endfor %}
    </ul>

    <h2>バージョン新規作成</h2>
    <form action="{{ url_for('create_version') }}" method="POST">
      <div>
        <label for="versionName">バージョン名:</label>
        <input type="text" name="versionName" />
      </div>
      <button type="submit">作成</button>
    </form>

    <hr />
    <a href="{{ url_for('index') }}">戻る</a>
  </body>
</html>
